<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 인터넷 접속 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCloset"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".presentation.login.LoginActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.login.SignupActivity"
            android:noHistory="true"/>
        <activity android:name=".MainActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.closet.SelectSeasonActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.closet.AddClosetActivity"
            android:noHistory="false"/>
        <activity android:name=".presentation.closet.ClosetDetailActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.closet.SpringClosetActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.closet.SummerClosetActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.closet.AutumnClosetActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.closet.WinterClosetActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.closet.EtcClosetActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.dailylook.DailylookActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.dailylook.AddDailylookActivity"
            android:noHistory="true"/>
        <activity android:name=".presentation.dailylook.AddDailylook2Activity"
            android:noHistory="true"/>
    </application>

</manifest>